.profile {
    &__button {

        text-align: center;
        padding: 0.75rem;
        margin: 0 0.5rem;
        border: none;
        background-color: #ff5851;
        color: white;
        font-size: 16px;
        text-decoration: none;

    }
    .resume {
        display: flex;
        flex-direction: column;
        border: 3px solid #ff5851;
        color: #333f48;
        border-radius: 12px;
        padding: 1rem 2rem;
        &__header {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__info {
            align-self: center;
            font-size: 24px;
            font-weight: 600;
            p{
                font-size: 16px;
                font-weight: 400;
                color: gray;
            }
        }
        &__title {
            * {
                margin: 0;
                padding: 0;
            }
            &__caption {
                font-size: 24px;
                font-weight: 600;
            }
            &__title {
                font-size: 18px;
                font-weight: 600;
            }
            &__salary {
                font-size: 16px;
                font-weight: 400;
                color: gray;
            }
        }
        &__about {
            padding-bottom: 1rem;
            * {
                margin: 0;
                padding: 0;
            }
            &__caption {
               
                font-size: 24px;
                font-weight: 600;
            } 
        }
    }
}