.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ff5851;
    height: 56px;
    padding: 0 1rem;
    div {
        align-self: center;
        font-weight: 600;
        color: white;
        a{
            color: white;
        }
    }
}